.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 5vh;
  background-color: #E4F3E5;
}

.Nav-item {
  padding: 15px;
}

tr, th {
  padding: 5px;
}

td {
  padding: 5px;
}

.Daily-cases-container {
  margin: 10px;
  background-color: white;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(#E4F3E5, #4CAE51);
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 10%;
}

.Check-header {
  background: linear-gradient(#E4F3E5, #4CAE51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255,255,255,0.5);
  padding: 5%;
  border-radius: 10px;
  min-width: 50vw;
}

.Display-container {
  margin: 2%;
  padding: 2%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
